<ion-content>
  <ion-icon [routerLink]="['/perfil']" class="back" name="arrow-back-circle-outline"></ion-icon>

  <h1 class="title">Rede de indicações</h1>

  <div class="perfil">
    <img class="img-perfil" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
  </div>

  <div class="container">
    <div>
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
    </div>
    <div>
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
    </div>
    <div>
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
    </div>
    <div>
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
    </div>

    <div>
      <img class="imgs-rede" src="../../assets/pexels-madison-inouye-4029477.jpg" alt="">
    </div>
  </div>

</ion-content>
<ion-footer no-border>
  <div class="footer">
    <div [routerLink]="['/home']">
      <img src="../../assets/icones/icon_home.png" alt="">
    </div>
    <div [routerLink]="['/explorar']">
      <img src="../../assets/icones/icon_explore.png" alt="">
    </div>
    <div [routerLink]="['/perfil']">
      <img src="../../assets/icones/icon_plus.png" alt="">
    </div>
  </div>
</ion-footer>