<ion-content>
  <div class="bg-comprovante">

    <div>
      <ion-icon  [routerLink]="['/home']" class="back" name="arrow-back-circle-outline"></ion-icon>
    </div>

    <div class="card-comprovante">
      <div>
        <h1 class="title">
          Comprovante de Transação
        </h1>
        <p class="date">
          19 NOV 2020, 15:52
        </p>
      </div>

      <div style="margin-top: 30px;">
        <h2 class="title-infos">
          VALOR
        </h2>
        <p class="infos">
          R$000,00
        </p>
      </div>

      <div>
        <h2 class="title-infos">
          ORIGEM
        </h2>
        <p class="infos">
          000.000.000-00
        </p>
        <p class="infos">
          JOÃO MARCOS BECKER
        </p>
      </div>

      <div>
        <h2 class="title-infos">
          DESTINO
        </h2>
        <p class="infos">
          000.000.000-00
        </p>
        <p class="infos">
          Paulo Miguel dos Santos
        </p>
      </div>

      <div style="margin-top: 60px;">
        <p class="infos">
          AUTENTICAÇÃO
        </p>
        <p class="infos">
          009fc81c-ed71-4e82-b52f-7951eaf2cae4
        </p>
      </div>

    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <div class="footer">
    <div [routerLink]="['/home']">
      <img src="../../assets/icones/icon_home.png" alt="">
    </div>
    <div [routerLink]="['/explorar']">
      <img src="../../assets/icones/icon_explore.png" alt="">
    </div>
    <div [routerLink]="['/perfil']">
      <img src="../../assets/icones/icon_plus.png" alt="">
    </div>
  </div>
</ion-footer>