<ion-content>
  <div>
    <ion-icon  [routerLink]="['/perfil']" class="back" name="arrow-back-circle-outline"></ion-icon>
  </div>

  <div>
    <h1 class="title">
      Notificações
    </h1>
  </div>
  <div class="mg-top-30">
    <div class="container">
      <h1 class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, rerum soluta aliquam tempora odio
        laudantium dolorum maxime quos sed hic quaerat nihil facere, aut temporibus commodi blanditiis repellendus
        praesentium sequi.
      </h1>
    </div>

    <div class="container">
      <h1 class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, rerum soluta aliquam tempora odio
        laudantium dolorum maxime quos sed hic quaerat nihil facere, aut temporibus commodi blanditiis repellendus
        praesentium sequi.
      </h1>
    </div>


    <div class="container">
      <h1 class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, rerum soluta aliquam tempora odio
        laudantium dolorum maxime quos sed hic quaerat nihil facere, aut temporibus commodi blanditiis repellendus
        praesentium sequi.
      </h1>
    </div>
  </div>


</ion-content>

<ion-footer>
  <div class="footer">
    <div [routerLink]="['/home']">
      <img src="../../assets/icones/icon_home.png" alt="">
    </div>
    <div [routerLink]="['/explorar']">
      <img src="../../assets/icones/icon_explore.png" alt="">
    </div>
    <div [routerLink]="['/perfil']">
      <img src="../../assets/icones/icon_plus.png" alt="">
    </div>
  </div>
</ion-footer>