<ion-content>
  <div class="bg-loja">
    <div>
      <ion-icon  [routerLink]="['/explorar']" class="back" name="arrow-back-circle-outline"></ion-icon>
    </div>
    <div>
      <img class="img-perfil" src="../../assets/pexels-daniel-nettesheim-1162361.jpg" alt="">
    </div>
    <div>
      <h1 class="title">
        Doceria da Kah
      </h1>
      <p class="sub">
        Doces e delicatesses
      </p>
    </div>

    <div class="flex">
      <div>
        <ion-icon class="map" name="map-outline"></ion-icon>
      </div>
      <div>
        <p class="address">Rua Lorem Ipsum nº 1000, loja 04 </p>
        <p class="address">Parque Lorem Ipsum, Lorem Ipsum, SC</p>
      </div>
    </div>

    <div class="flex" style="margin-top: 5px !important;">
      <img style="margin-right: 5px;" src="../../assets/icones/map-icon.png" alt="">
      <p class="address">2,5km</p>
    </div>

    <div [routerLink]="['/saque']" class="cta">
      SOLICITAÇÕES DE SAQUE
    </div>

    <div [routerLink]="['/']" class="cta-2">
      ABRIR ROTA
    </div>

    <h1 class="title-2">
      Outros parceiros na mesma categoria
    </h1>

    <div class="container">
      <div class="flex-2">
        <div class="flex-3">
          <img class="img-empresa" src="../../assets/clientes/clt001.png" alt="">
          <div>
            <p class="empresa">Doceria da Kah</p>
            <p class="sub-2">Doces e delicatesses</p>
          </div>
        </div>

        <div class="flex-3">
          <img src="../../assets/icones/map-icon.png" alt="">
          <p class="distancia">2,3km</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="flex-2">
        <div class="flex-3">
          <img class="img-empresa" src="../../assets/clientes/clt001.png" alt="">
          <div>
            <p class="empresa">Doceria da Kah</p>
            <p class="sub-2">Doces e delicatesses</p>
          </div>
        </div>

        <div class="flex-3">
          <img src="../../assets/icones/map-icon.png" alt="">
          <p class="distancia">2,3km</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer no-border>
  <div class="footer">
    <div [routerLink]="['/home']">
      <img src="../../assets/icones/icon_home.png" alt="">
    </div>
    <div [routerLink]="['/explorar']">
      <img src="../../assets/icones/icon_explore.png" alt="">
    </div>
    <div [routerLink]="['/perfil']">
      <img src="../../assets/icones/icon_plus.png" alt="">
    </div>
  </div>
</ion-footer>